
@{
    ViewBag.Title = "EmployeeSection";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeSection</title>
</head>
<body>
    <div style="width: 100%; height: 100px; background-color: LightBlue;">
    </div>
    <div style="width: 100%; height: 315px;">
        <h4> Haloo</h4>
 
    </div>
    <div style="width: 100%; height: 100px; background-color: LightBlue;">
    </div>
</body>
</html>