
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutwithSidebar.cshtml";
}

<link href="~/Content/history.css" rel="stylesheet" type="text/css" />

<div class="page-header">
		<center><h1 id="timeline">Timeline Materi Digital Pepak</h1></center>
    </div>
	
    <ul class="timeline">
        <li>
          <div class="timeline-badge info">1</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Kewan</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Belajar mengenal istilah anak hewan dalam bahasa jawa</small></p>
            </div>
            <div class="timeline-body">
              <p>
                <img class="" src="~/Images/icon/file.png" width="30%">
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">2</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Kawruh Basa</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Belajar mengenal lawan kata dan persamaan kata dalam bahasa jawa</small></p>
            </div>
            <div class="timeline-body">
              <p><img class="" src="~/Images/icon/note.png" width="30%"></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info">3</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Paramasastra</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Kamus bahasa jawa meliputi bahasa jawa ngoko, madya dan inggil</small></p>
            </div>
            <div class="timeline-body">
              <p>
                <img class="" src="~/Images/icon/vallet.png" width="30%">
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">4</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Paribasan</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Belajar mengenal peribahasa bahasa jawa dan artinya</small></p>
            </div>
            <div class="timeline-body">
              <p><img class="" src="~/Images/icon/clip.png" width="30%"></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info">5</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Parikan</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Belajar mengenal pantun bahasa jawa</small></p>
            </div>
            <div class="timeline-body">
              <p>
                <img class="" src="~/Images/icon/bulb.png" width=30%">
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">6</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Hanacaraka</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Belajar mengenal aksara (huruf) jawa</small></p>
            </div>
            <div class="timeline-body">
              <p><img class="" src="/Images/icon/pencil.png" width="30%"></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info">7</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Wayang</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Jalan Lumba-Lumba No. 1 Surabaya, Indonesia</small></p>
            </div>
            <div class="timeline-body">
              <p>
                <img class="" src="~/Images/icon/file.png" width="30%">
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">8</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Translasi Indonesia - Jawa</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Translasi kata dari Bahasa Indonesia ke Bahasa Jawa</small></p>
            </div>
            <div class="timeline-body">
              <p><img class="" src="~/Images/icon/bubble.png" width="30%"></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info">9</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Translasi Jawa - Indonesia</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Translasi kata dari Bahasa Jawa ke Bahasa Indonesia</small></p>
            </div>
            <div class="timeline-body">
              <p>
                <img class="" src="~/Images/icon/megaphone.png" width="30%">
              </p>
            </div>
          </div>
        </li>
        </ul>
	</div> <!-- end container -->