@model IEnumerable<PepakDigital.Kewan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutwithSidebar.cshtml";
}

<br />
<div class="col-lg-15">    
		<div class="panel panel-primary">
        <div class="panel-heading"><center><h4>Arane Anak Kewan</h4></center></div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
			<thead>
                <tr><th> @Html.DisplayNameFor(model => model.JenengKewan)</th>
                    <th> @Html.DisplayNameFor(model => model.AnakeKewan)</th>
                </tr>
            </thead>
            <tbody>
				@foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.JenengKewan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnakeKewan)
                        </td>
                    </tr>
                }
			</tbody>
			</table>
		</div><!--/panel-body-->
</div><!--/panel-->
</div>