@model IEnumerable<PepakDigital.Paribasan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutwithSidebar.cshtml";
}

<br />
<div class="col-lg-15">
		<div class="panel panel-primary">
        <div class="panel-heading"><center><h4>Paribasan</h4></center></div>
			<div class="panel-body">
				<table class="table table-striped table-hover">
                <thead>
                    <center>
                    <tr>
                        <th>
                            Isi Paribasan
                        </th>
                        <th>
                            Artine
                        </th>
       
                        <th></th>
                    </tr></center>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsiParibasan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Artine)
                        </td>
                    </tr>
                }
                </tbody>
				</table>
		</div><!--/panel-body-->
    </div><!--/panel-->
</div>