
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Halo @ViewBag.sesi</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-lg-3 placeholder">
              <p><img class="" src="~/Images/icon/file.png" width="40%"></p>
              <h4>Kewan</h4>
              <span class="text-muted">Lakukan pemeliharaan data pada database Kewan</span>
            </div>
          <div class="row placeholders">
            <div class="col-xs-6 col-lg-3 placeholder">
              <p><img class="" src="~/Images/icon/note.png" width="40%"></p>
              <h4>Kawruh Basa</h4>
              <span class="text-muted">Lakukan pemeliharaan data pada database Kawruh Basa</span>
            </div>
          <div class="row placeholders">
            <div class="col-xs-6 col-lg-3 placeholder">
              <p><img class="" src="~/Images/icon/vallet.png" width="40%"></p>
              <h4>Paramasastra</h4>
              <span class="text-muted">Lakukan pemeliharaan data pada database Paramasastra</span>
            </div>
          <div class="row placeholders">
            <div class="col-xs-6 col-lg-3 placeholder">
              <p><img class="" src="~/Images/icon/clip.png" width="40%"></p>
              <h4>Paribasan</h4>
              <span class="text-muted">Lakukan pemeliharaan data pada database Paribasan</span>
            </div>
          <div class="row placeholders">
            <div class="col-xs-6 col-lg-3 placeholder">
              <p><img class="" src="/Images/icon/bulb.png" width="40%"></p>
              <h4>Parikan</h4>
              <span class="text-muted">Lakukan pemeliharaan data pada database Parikan</span>
            </div>
          <div class="row placeholders">
            <div class="col-xs-6 col-lg-3 placeholder">
              <p><img class="" src="~/Images/icon/pencil.png" width="40%"></p>
              <h4>Hanacaraka</h4>
              <span class="text-muted">Lakukan pemeliharaan data pada database Hanacaraka</span>
            </div>
          <div class="row placeholders">
            <div class="col-xs-6 col-lg-3 placeholder">
              <p><img class="" src="~/Images/icon/file.png" width="40%"></p>
              <h4>Wayang</h4>
              <span class="text-muted">Lakukan pemeliharaan data pada database Wayang</span>
            </div>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>

<link href="~/Scripts/jquery.min.js" rel="stylesheet" type="text/css" />
<link href="~/Scripts/docs.min.js" rel="stylesheet" type="text/css" />
