@model IEnumerable<PepakDigital.Wayang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutwithSidebar.cshtml";
}

<br />
<div class="col-lg-15">
		<div class="panel panel-primary">
		<div class="panel-heading"><center><h4>Wayang</h4></center></div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Jeneng Wayang
                    </th>
                    <th>
                        Gambar
                    </th>
        
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.JenengWayang)
                    </td>
                    <td>
                         <img alt="Gambar" src= "@string.Format("{0}",item.GambarURL)" />
                    </td>
        
                </tr>
            }
            </tbody>
            </table>
	    </div><!--/panel-body-->
</div><!--/panel-->
</div>