@model IEnumerable<PepakDigital.Wayang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-md-6">
		  <div class="panel panel-default">
					  <div class="panel-heading"><h4>ARANE WAYANG</h4></div>
						<div class="panel-body">
							<table class="table table-striped">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JenengWayang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GambarURL)
        </th>
        
        <th></th>
    </tr>
</thead>
                           <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JenengWayang)
        </td>
        <td>
             <img alt="Gambar" src= "@string.Format("{0}",item.GambarURL)" />
        </td>
        
    </tr>
}



                   	</tbody>
                            </table>
						</div><!--/panel-body-->
           </div><!--/panel-->